.gMenuText::before {
  content: '☰';
  margin-right: 5px;
}

.app {
  font-size: 1.12rem;
  display: flex;
  gap: 5px;
  margin: 10px;
  height: 400px;
  flex-direction: column;
}

.header {
  grid-row: 1;
  order: 2;
}

.gMenu {
  flex: 1;
}

.wrapper {
  gap: 5px;
  width: 100%;
  display: flex;
  order: -2;
}

.cMenu {
  order: -1;
}

.ads {
  flex: 2;
}

.mContent {
  order: -1;
  flex: 7;
}

.app *:not(.gMenuText):not(.wrapper) {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
}

@media (min-width: 768px) {
  .gMenuText::before {
    content: '';
    margin: 0;
  }

  .app {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .header,
  footer {
    grid-column: 1 / -1;
  }

  .gMenu {
    grid-column: 1 / -2;
    grid-row: 2;
  }

  .ads {
    grid-row: 2 / span 2;
  }
}
