.app {
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    margin: 10px;
    height: 300px;
}

.header,
footer {
    grid-column: 1 / -1;
}

.gMenu {
    grid-column: 1 / -2;
    grid-row: 2;
}

.ads {
    grid-row: 2 / span 2;
}

.app * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
}
