.app {
    width: clamp(500px, 70vw, 700px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    font-size: clamp(1.04rem, 1.3vw, 1.7rem);
    margin: 20px;
}

.app header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    flex: 1 20;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 80px;
}

li {
    margin-top: 10px;
    font-weight: bolder;
}

.app header img {
    width: 100px;
    border-radius: 8px;
}
