.shoppingList {
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: clamp(1.04rem, 1.34vw, 1.2rem);
}

.heading {
    color: var(--primary-color);
    margin-bottom: 10px;
}

.itemList {
    list-style: none;
    padding: 0;
}

.item {
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}

.itemName {
    font-weight: bold;
    margin-bottom: 5px;
}

.itemDetail {
    margin: 5px 0;
}

.totalPrice {
    color: var(--primary-color);
    margin-top: 20px;
}

@media (min-width: 768px) {
    .shoppingList {
        max-width: 800px;
        margin: 0 auto;
    }

    .item {
        padding: 15px;
    }
}

@media (pointer: fine) {
    .item:hover {
        background-color: var(--hover-color);
    }

    .item {
        cursor: pointer;
    }
}
